<div class="container-x1 p-4 bg-light rounded shadow-sm">
    <div class="table-responsive">
        <div class="table-wrapper p-3 bg-white rounded shadow">
            <div class="table-title d-flex justify-content-between align-items-center">
                <h2 >Manage Servers</h2>
                <div>
                    <button (click)="printReport()" class="btn btn-primary rounded-pill mx-2">Print Report</button>
                    <a href="#addEmployeeModal" class="btn btn-success rounded-pill mx-2" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i>
                        <span>New Server</span>
                    </a>
                    <select (ngModelChange)="filterServers($event)" ngModel="ALL" name="status" class="btn btn-info rounded-pill mx-2">
                        <option value='ALL'>ALL</option>
                        <option value='SERVER_UP'>SERVER_UP</option>
                        <option value='SERVER_DOWN'>SERVER_DOWN</option>
                    </select>
                </div>
            </div><br>
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="text-center p-4">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <table class="table table-bordered table-hover text-center" id="servers">
                        <thead>
                            <tr>
                                <th>image</th>
                                <th>IP Address</th>
                                <th>Name</th>
                                <th>Memory</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Ping</th>
                                <th>Actions</th>
    
                            </tr>
                        </thead>
                        <tbody *ngFor="let server of appState.appData.data.servers; let i = index">
                            <tr>
                                <td><img [src]="server.imageUrl" [alt]="server.name" width="40" height="40"></td>
                                <td>{{server.ipAddress}}</td>
                                <td>{{server.name}}</td>
                                <td>{{server.memory}}</td>
                                <td>{{server.type}}</td>
                                <td>
                                    <span class="badge px-3 py-2"
                                        [ngClass]="[server.status === Status.SERVER_UP ? 'badge-success': 'badge-danger']">
                                            {{server.status === Status.SERVER_UP ? 'SERVER UP': 'SERVER DOWN'}}
                                        </span>
                                </td>
                                <td>
                                    <a (click)="pingServer(server.ipAddress)" class="text-primary" style="cursor: pointer;">
                                        <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress "
                                            class="material-icons" title="Ping server">&#xe328;</i>
                                        <i  *ngIf="(filterStatus$ | async) === server.ipAddress "
                                            class="fa fa-spinner fa-spin" style="font: size 24px"></i>
                                    </a>
    
                                </td>
                                <td>
                                    <a  (click)="deleteServer(server)"
                                        class="text-danger" data-toggle="modal" style="cursor: pointer;">
                                        <i class="material-icons" data-toggle="" title="Delete">&#xE872;</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert alert-danger text-center">
                        {{appState.error}}
                    </div>
                </ng-container>
            </ng-container>
        </div> 
    </div>
</div>

<!-- Add server Modal HTML-->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content  p-3">
            <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
                <div class="modal-header bg-dark text-white">
                    <h4 class="modal-title">Add Servers</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>IP Address</label>
                        <input type="text" ngModel name="ipAddress" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" ngModel name="name" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Memory</label>
                                <input type="text" ngModel name="memory" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" ngModel name="type" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select  ngModel="SERVER_DOWN"  name="status" class="form-control" required>
                                <option value='SERVER_UP'>SERVER_UP</option>
                                <option value='SERVER_DOWN'>SERVER_DOWN</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success" [disabled]="serverForm.invalid || (isLoading$ | async)">
                        <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin" ></i>
                        <span *ngIf="isLoading$ | async">Saving...</span>
                        <span *ngIf="!(isLoading$ | async)">Add</span>
                    </button>
                </div>
            </form>

        </div>

    </div>

</div>
<notifier-container></notifier-container>